#question-index-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 16px;
}

#question-index-header > div > p {
    color: gray;
}

#question-list > * {
    padding-left: 16px;
}