#login-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.6;
}

#login-form {
    padding: 20px;
    margin: 10vh 50px 50px 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px 5px,
                rgba(0, 0, 0, 0.05) 5px 5px 0px 0px;
}

h2 {
    font-size: 24px;
}

#error-list {
    list-style: disc;
}