.question-preview {
    border-top: solid lightgray 1px;
    padding: 8px 0px 8px 0px;
}

.question-preview  > p {
    color: gray;
}

#author-tag {
    text-align: end;
}

.question-preview > p > a {
    text-decoration: none;
}

.question-preview > a {
    text-decoration: none;
}