#page-content {
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.logo-image {
    content: url('../assets/heapoverflow_icon_512px.png');
    height: 40px;
    width: 40px;
}

.logo-big {
    content: url('../assets/heapoverflow_icon_2048px.png');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 150vh;
    width: auto;
    position: fixed;
    top: -200px;
    right: -300px;
    z-index: -1;
}

.button-light {
    font-size: 12px;
    margin: 0px 2px 0px 2px;
    padding: 8px 10.4px 8px 10.4px;
    background-color: rgb(225, 236, 244);
    color: rgb(57, 115, 157);
    border-radius: 4px;
    border: solid rgb(122, 167, 199) 1px;
    text-decoration: none;
    cursor: pointer;
}

.button-dark {
    font-size: 12px;
    margin: 0px 2px 0px 2px;
    padding: 8px 10.4px 8px 10.4px;
    background-color: rgb(10, 149, 255);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: solid rgb(200, 200, 200) 1px;
    text-decoration: none;
    cursor: pointer;
}

.button-small {
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    color: rgb(57, 115, 157);
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.button-small:hover {
    background-color: rgb(225, 236, 244);
}

.order-buttons {
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 16px;
}

.timestamp {
    color: gray;
}

.vote-gui {
    min-width: 64px;
    max-width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vote-button {
    width: 32px;
    height: 32px;
    margin: 4px 0px 4px 0px;
    cursor: pointer;
}

.upvote-inactive {
    content: url('../assets/upvote_inactive.png');
}

.upvote-active {
    content: url('../assets/upvote_active.png');
}

.upvote-disabled {
    content: url('../assets/upvote_disabled.png');
}

.downvote-inactive {
    content: url('../assets/downvote_inactive.png');
}

.downvote-active {
    content: url('../assets/downvote_active.png');
}

.downvote-disabled {
    content: url('../assets/downvote_disabled.png');
}

.author-plaque {
    font-size: 12px;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 8px;
}

.author-plaque-container {
    display: flex;
    justify-content: end;
}

.page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 0px;
}

.component-standard {
    width: 1264px;
    line-height: 1.6;
}

.component-with-sidebar {
    width: 1100px;
    line-height: 1.6;
    /* padding: 0px 0px 0px 16px; */
    border-left: 1px solid lightgray;
}

.qa-form-container {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    margin: 8px 0px 0px 16px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px 5px,
                rgba(0, 0, 0, 0.05) 5px 5px 0px 0px;
}

.qa-help-errors {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.qa-help-errors-box {
    color: rgb(75, 75, 75);
    width: 450px;
    margin-left: 16px;
    padding: 8px;
}

.qa-help-errors-box > ul {
    list-style: inside;
}

.help-color {
    background-color: rgb(245, 236, 157);
    border: 1px solid rgb(182, 182, 68);
}

.errors-color {
    background-color: rgb(248, 179, 179);
    border: 1px solid rgb(180, 91, 91);
}

.under-construction-1 {
    content: url('../assets/under_construction_1.gif');
}

.under-construction-2 {
    content: url('../assets/under_construction_2.gif');
}

.under-construction-3 {
    content: url('../assets/under_construction_3.gif');
}