body {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#page-content {
    width: 1264px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}