#logo {
    margin-right: 12px;
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}

#logo-bold {
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 3px;
    border-top-style: solid;
    border-top-color: green;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
                rgba(0, 0, 0, 0.05) 0px 1px 4px 0px,
                rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
    position: sticky;
}

#navigation {
    width: 1264px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#account-buttons {
    font-size: 12px;
    list-style: none;
    display: flex;
}

#about-button {
    font-size: 12px;
    margin-right: 12px;
    padding: 4px 4px 4px 4px;
    color: rgb(57, 115, 157);
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

#about-button:hover {
    background-color: rgb(225, 236, 244);
}

#search {
    margin-right: 12px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 10000;
}

#search > input {
    width: 100%;
}