#logo {
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}

#logo-bold {
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 3px;
    border-top-style: solid;
    border-top-color: green;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
                rgba(0, 0, 0, 0.05) 0px 1px 4px 0px,
                rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
    position: sticky;
}

#navigation {
    width: 1264px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#account-buttons {
    font-size: 12px;
    list-style: none;
    display: flex;
}

/* .button-light {
    margin: 0px 2px 0px 2px;
    padding: 8px 10.4px 8px 10.4px;
    background-color: rgb(225, 236, 244);
    color: rgb(57, 115, 157);
    border: solid rgb(122, 167, 199) 1px;
    text-decoration: none;
    cursor: pointer;
}

.button-dark {
    margin: 0px 2px 0px 2px;
    padding: 8px 10.4px 8px 10.4px;
    background-color: rgb(10, 149, 255);
    color: rgb(255, 255, 255);
    border: solid rgb(200, 200, 200) 1px;
    text-decoration: none;
    cursor: pointer;
} */